<html>
<head>
	<title>{{page_title}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_prefix}}style.css" />
</head>
<body>
<div class="blog_title_container">
<h1 class="blog_title"><a href="{{url_prefix}}index.html">{{blog_title}}</a></h1>
<div class="navbox">
	<a class="navbox_link" href="{{url_prefix}}archive.html">Archives</a>
	<a class="navbox_link" href="{{url_prefix}}feed.xml">RSS</a>
</div>
</div>
<div class="page_container">
